// .search-contain {
//     background-color: white;
//     margin: auto;
//     width: 600px;
//     border-radius: 15px;
//     border-width: 1px;
//     border-style: solid;
//     border-color: white;
//     box-shadow: 4px 4px 8px #DCDCDC;

// }

// #search-button {
//     background-image: url("../../assets/search-solid.png");
//     background-position: center;
//     background-repeat: no-repeat;
//     border: none;
//     margin-left: 10px;
//     opacity: 0.5;
//     vertical-align: middle;
//     background-color:transparent;
// }

// #search-button:hover {
//     opacity: 1;
// }

// #clear {
//     background-image: url("../../assets/times-solid.png");
//     background-position: center;
//     background-repeat: no-repeat;
//     border: none;
//     opacity: 0.5;
//     vertical-align: middle;
//     background-color: transparent;
//     margin-left: 10px;
// }

// #clear:hover {
//     opacity: 1;
// }

// #input {
//     width: 510px;
//     height: 40px;
//     border: none;
//     margin-left: 15px;
//     border-right: 1px solid #DCDCDC;
//     vertical-align: middle;
// }

// #input:focus {
//     border: 0;
//     outline: none;
// }

form {
    display: flex;
    justify-content: center;
}

#input[type="text"] {
    background-color: white;
    margin: auto;
    width: 600px;
    padding: 10px;
    margin-right: 1%;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border-width: 1px;
    border-style: solid;
    border-color: white;
    box-shadow: 4px 4px 8px #DCDCDC;
    border-radius: 15px;
}

#search {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 1%;
}

#search:hover {
    background-color: #0062cc;
}


#clear-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 200px;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#clear-button:hover {
    background-color: #0062cc;
}
